<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Logging Unit Tests">
	<test name="Log4j Logger Unit Tests">
		<classes>
			<class name="io.nishadc.automationtestingframework.logging.unittests.LoggerFactoryTests" />
		</classes>
	</test>
</suite>