<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Customizations Unit Tests">
	<listeners>
		<listener class-name="io.nishadc.automationtestingframework.testngcustomization.ReportGenerator"></listener>
		<listener class-name="io.nishadc.automationtestingframework.testngcustomization.ExecutionController"></listener>
	</listeners>
	<test name="JSON Data Provider Unit Tests">
		<classes>
			<class name="io.nishadc.automationtestingframework.testngcustomization.unittests.JsonTestDataProviderTests" />
		</classes>
	</test>
	<test name="Excel Data Provider Unit Tests">
		<classes>
			<class name="io.nishadc.automationtestingframework.testngcustomization.unittests.ExcelTestDataProviderTests" />
			<class name="io.nishadc.automationtestingframework.testngcustomization.unittests.NoExcelFileTest" />
			<class name="io.nishadc.automationtestingframework.testngcustomization.unittests.XlsxTestDataProviderTests" />
		</classes>
	</test>
	<test name="Report - Test Status Unit Tests">
		<classes>
			<class name="io.nishadc.automationtestingframework.testngcustomization.unittests.TestStatusTests" />
		</classes>
	</test>
	<test name="Report - HTML Report Unit Tests">
		<classes>
			<class name="io.nishadc.automationtestingframework.testngcustomization.unittests.HTMLReportTests" />
		</classes>
	</test>
	<test name="Report - Screenshot Unit Tests">
		<classes>
			<class name="io.nishadc.automationtestingframework.testngcustomization.unittests.ScreenshotTests" />
		</classes>
	</test>
	<test name="HTML Report Generator Unit Tests">
		<classes>
			<class name="io.nishadc.automationtestingframework.testngcustomization.unittests.HTMLReportGeneratorTests" />
		</classes>
	</test>
	<test name="Retry Analyzer Unit Tests">
		<classes>
			<class name="io.nishadc.automationtestingframework.testngcustomization.unittests.RetryAnalyzerTests" />
		</classes>
	</test>
	<test name="Execution Control Unit Tests">
		<classes>
			<class name="io.nishadc.automationtestingframework.testngcustomization.unittests.TestExecutionControlTests" />
		</classes>
	</test>
</suite>