<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Web UI Unit Tests">
	<listeners>
		<listener class-name="io.nishadc.automationtestingframework.testngcustomization.ReportGenerator"></listener>
	</listeners>
	<test name="Application Action Unit Tests">
		<classes>
			<class name="io.nishadc.automationtestingframework.testinginterface.webui.unittests.WebFormSubmissionTest" />
		</classes>
	</test>
</suite>