<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="File Handling Tests">
	<test name="File Handling Unit Tests">
		<classes>
			<class name="io.nishadc.automationtestingframework.filehandling.unittests.FlatFileHandlingTests" />
			<class name="io.nishadc.automationtestingframework.filehandling.unittests.JsonFileHandlingTests" />
			<class name="io.nishadc.automationtestingframework.filehandling.unittests.ExcelFileHandlingTests" />
		</classes>
	</test>
</suite>