name: CI

on: 
  push:
    branches:
      - main
      - 'feature/**'

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
    - name: Build with Maven
      run: mvn --% clean verify "-Dgpg.skip"
